langgraph
langchain-openai
langchain-community
langchain-ollama
fastapi
uvicorn
python-socketio
sqlalchemy
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
psycopg2-binary
pydantic
python-dotenv
redis
pydantic-settings
sqlalchemy-utils
aiosignal
async_timeout
frozenlist
multidict
psycopg-pool
psycopg
yarl
pypdf
python-multipart
